// Default Cards
@mixin hook-card-default() {
	background: darken($white, 5%);
	// color: $alice;
  transition: $transition-duration;
}

@mixin hook-card-default-title(){
	color: $tabasco;
}

// Default Card Hover
@mixin hook-card-default-hover() {
	background: $alice;
	color: $alice;
   h3 {
		  color: $alice;
		 	background: $black;
	 }
    p {
        color: $gray;
    }
}
